<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--/add name="cs" connectionString="Server=tcp:pppkkezele.database.windows.net,1433;Initial Catalog=College;Persist Security Info=False;User ID=sas;Password=Pa$$w0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
    <add name="cs" connectionString="0PyF4H34i++tV2Q7gTV2FNMp/uL7cb/cLF2SJBEeEvCzpJLLkz4H818gltNzNBOdMMWswksTobzh4EMKs3t6DR13UWvrBtNSIrz3DztoA6lv0gzV5KTxGinER+jZRuoSakGVG187QEYu/Ig01pOdmE0osAcg/dS4zBIQmB4FvqgfNcBFha8PsHOB7PWHBZQxbrQ8Mo+UIcE0CZDufk/2AkK1NRzQC70NaV3q8Vb3wJrNFEDJ/EvB+P1Go2YGu+cYRzMDIeHJOWp5bUSp3YN4kv/IUXmIimGL428EhymppkdJWRzvPoz3Bw=="/>
  </connectionStrings>
</configuration>